<div class="subscribe"
  fxLayout.gt-md="row"
  fxLayout.lt-lg="column"
  fxLayoutAlign="space-around center">
  <h1>Subscribe to notifications for more givebacks</h1>
  <a class="redirect-btn subscribe-btn" (click)="openDialog()">Subscribe</a>
</div>
<div class="gradient-background helpful-info"
  fxLayout.gt-md="row"
  fxLayout.lt-lg="column"
  fxLayoutAlign="space-around start">
  <div class="info" fxLayout="column" fxLayoutAlign="space-around start">
    <h1>NFT GiveBack</h1>
    <p>
      FT GiveBack is Using Nft's to give back. It's simply, A HUGE giveaway in which the more
      entries you have the more odds you have of winning a prize.
      Each giveaway we guarantee more than 50 winners
    </p>
    <div fxLayout="row">
      <a  href="https://www.instagram.com/nftgiveback/"class="white-background social-media-icon">
        <fa-icon class="icon" [icon]="faInstagram"></fa-icon>
      </a>
      <a href="https://twitter.com/nftgivebackllc" class="white-background social-media-icon">
        <fa-icon class="icon" [icon]="faTwitter"></fa-icon>
      </a>
      <a href="https://discord.gg/4TFjfnHF4c" class="white-background social-media-icon">
        <fa-icon class="icon" [icon]="faDiscord"></fa-icon>
      </a>
    </div>
  </div>
  <div class="links" fxLayout="column" fxLayoutAlign="space-around start">
    <h2>Links</h2>
    <a href="#home">Home</a>
    <a href="#prizes">Prizes</a>
    <a href="#roadMap">Road Map</a>
    <a href="#meet">Meet Nour Trades</a>
  </div>
  <div class="follow" fxLayout="column" fxLayoutAlign="space-around start">
    <h2>Follow Us</h2>
    <a href="https://www.instagram.com/nftgiveback/">Instagram</a>
    <a href="https://twitter.com/nftgivebackllc">Twitter</a>
    <a href="https://discord.gg/4TFjfnHF4c">Discord</a>
  </div>
  <div class="resources" fxLayout="column" fxLayoutAlign="space-around start">
    <h2>Resources</h2>
    <a>Privacy Policy</a>
    <a>Terms of Services</a>
    <a>FAQs</a>
  </div>

</div>
<div class="legal"
  fxLayout.gt-sm="row"
  fxLayout.lt-md="column"
  fxLayoutAlign.gt-sm="space-between center"
  fxLayoutAlign.lt-md="space-around center">
  <span class="copyright-claim">&#169; 2022 NFT GiveBack. All Rights Reserved.</span>
  <div class="legal-resources">
    <a>Privacy Policy</a>
    <a>Terms of Service</a>
  </div>
</div>
